
<section id="accueil" class="section-accueil py-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 text-center">
                 <img src="{{asset('assets/img/IMG_4358.png')}}" alt="EMS Logo" class="mb-4" style="max-width: 150px;">
                <h1 class="display-4">Bienvenue aux Services Médicaux d'Urgence (EMS)</h1>
                <p class="lead">Assurer la santé et la sécurité des citoyens de notre communauté</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4 d-flex">
                <div class="card shadow-sm h-100 border-0">
                    <div class="card-body text-center d-flex flex-column">
                        <i class="fas fa-hospital fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Présentation générale des EMS</h5>
                        <p class="card-text flex-grow-1">Les EMS sont engagés à fournir des soins médicaux d'urgence avec rapidité et efficacité. Notre équipe dévouée est prête à intervenir 24/7 pour répondre aux besoins des citoyens de Los Santos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex">
                <div class="card shadow-sm h-100 border-0">
                    <div class="card-body text-center d-flex flex-column">
                        <i class="fas fa-user-md fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Message de bienvenue</h5>
                        <p class="card-text flex-grow-1">Bonjour, je suis Dr. Tabac Bart, directeur des EMS. Nous sommes ici pour garantir votre sécurité et votre bien-être avec un service professionnel et attentif. Votre confiance est notre priorité.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex">
                <div class="card shadow-sm h-100 border-0">
                    <div class="card-body text-center d-flex flex-column">
                        <i class="fas fa-ambulance fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Importance des services médicaux d'urgence</h5>
                        <p class="card-text flex-grow-1">Les services médicaux d'urgence sont essentiels pour maintenir la sécurité et la santé publique. Grâce à nos interventions rapides et adaptées, nous veillons à ce que chaque citoyen bénéficie des meilleurs soins possibles.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <a class="btn btn-primary btn-lg" href="{{ path('app_recruitment_request')}}">
                    <i class="fas fa-handshake"></i> Rejoignez-nous
                </a>
            </div>
        </div>
    </div>
</section>
