<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue au LSMC | OverLife{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/img/IMG_4358.png')}}">
        <link rel="stylesheet" href="{{ asset('assets/styles/bootstraplitera.min.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

    </head>
    <body>
        {% block nav %}
            {% include "public/partials/_nav.html.twig" %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        <script src="https://kit.fontawesome.com/baada5d1a0.js" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/horloge.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
